/**
** APLICACIÓN DE ESTILOS GENERALES 
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
	text-align: center;
	padding: auto;
}


/*Añadir estilo a los items de la barra de navegación*/
@media (min-width: 768px) {
	nav li.active,
	nav li:hover {
		background: red;
		transition: width .5s linear; 
		height: 2px;
	}
}

/*Añadir estilo a los items de la barra de navegación menú de hamburguesa*/
@media (max-width: 768px) {
	nav li.active,
	nav li:hover {
		text-decoration: overline;
		text-decoration-color: red;  
	}
}

/*Estilos para el pie de página*/
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer h5{
	margin-top: 15px;
	padding: auto;
}

.footer hr{
	color: white;
	margin: 25px;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    color: #fff;
}


/**
** APLICACIÓN DE ESTILOS PÁGINA DE INICIO 
**/

/*Estilos para el control del carousel**/
/*Control de posición, altura y ancho*/
#diapositivaCarusel{
	position: relative;
	height: 100vh;
	width: 100%;
}


#diapositivaCarusel .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}


#diapositivaCarusel .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

/*Resolución de las imágenes, posición y fuente*/
#diapositivaCarusel .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('../images/Carrusel/Prision.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#diapositivaCarusel .carousel-inner .carousel-item:nth-child(2){
	background: url('../images/Carrusel/sanatorio.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#diapositivaCarusel .carousel-inner .carousel-item:nth-child(3){
	background: url('../images/Carrusel/penitenciariacentral.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#diapositivaCarusel .carousel-inner .carousel-item:nth-child(4){
	background: url('../images/Carrusel/barrioOtoya.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

/*Control de Estilos para el DIV que contiene el texto dentro del carousel*/
#diapositivaCarusel .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}

/*Control de Estilos para los títulos del carousel*/
#diapositivaCarusel .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}

/*Control de Estilos para los párrafos*/
#diapositivaCarusel .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	padding: 150px;

}


/**
** APLICACIÓN DE ESTILOS PÁGINA DE INFORMACION
**/
.textoInfo{
	text-align: justify;
	font-size: 13px;
	padding: 2px;
}

.imgInfo{
	width: 219px;
	height: 120px;
	text-align: center;
}

.infoCaption{
	font-size: 10px;
	font-style: italic;
}

.infoComentario{
	color: #BF0000;
	font-style: italic;
	text-align: justify;
	font-size: 12px;
	padding-left: 4px;
	padding-right: 4px;
}


.fixed-aside2 {
    position: fixed;
    top: 60%;
    right: 0px; /* Adjust distance from the right */
    transform: translateY(-50%);
    width: 10%;
    z-index: 0;
}


/**
** APLICACIÓN DE ESTILOS PÁGINA DE Galería
**/
#gallery {
    width: 100%; /* Ancho del carrusel de fotos (ajustable) */
    margin: 0 auto; /* Centrar el carrusel */
    padding: 10px 0;
	padding-left: auto;
}

.fixed-aside-right {
    padding-left: 100px; /* Espacio entre el carrusel y el aside */
	margin-top: 50px;
}

.fixed-aside-right .tm-gallery-right-inner {
    background-color: #f9f9f9; /* Color de fondo del aside (opcional) */
    padding: 20px;
}

.tm-gallery-row .col {
    text-align: center;
}

.img-galeria {
    width: 270px; /* Ancho al 100% del contenedor */
    height: 180px; /* Altura automática para mantener la proporción */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(106%) contrast(101%);
}

aside .nav-icon{
	font-family: 'Poppins', sans-serif;
}

aside .nav-icon:hover{
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: black;
	border-radius: 10px;
}


/**
** APLICACIÓN DE ESTILOS PÁGINA DE ACERCA DE
**/
hr#divisiondark{
	color: black;
	margin-left: 40%;
	margin-right: 40%;
}

#acercaDe {
    background-color: white;
    color: black;
    padding: 20px 0;
	margin-top: 20px;
    text-align: center;
}

div#acercaDe div.col-md-12{
	padding-left: 10%;
	padding-right: 10%;
}

p#destacado{
	color: #BF0000;
	font-style: italic;
}

div.card p#titulosOrganizacion{
	font-style: italic;
	font-size: 15px;
	color: grey;
}

.fixed-aside {
    position: fixed;
    top: 50%;
    right: -40px; /* Adjust distance from the right */
    transform: translateY(-50%) rotate(+90deg);
    width: 10%;
    z-index: 1000;
}

.redirect-box {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform-origin: top left;
	
}

.redirect-box a {
    display: block;
    margin-top: 10px;
}

.redirect-box a:hover {
	background-color: #BF0000;
	color: white; 
	border: none;
}

@media (max-width: 1000px) {

	.fixed-aside {
		display:none;
	}

}

/**
** APLICACIÓN DE ESTILOS PÁGINA DE CONTÁCTENOS
**/

#contactarnos{
	padding-right: 5%;
	padding-left: 5%;

}

#contactarnos h5{
	font-size: 20px;
	margin-bottom: 20px;
}

#datosContacto{
	padding-right: 5%;
	padding-left: 5%;
}

form label.form-label{
	text-align: left;
	font-size: 15px;
	display: block;
}


@media (max-width: 767px) {
	form label.form-label {
		text-align: left; 
	}
}

#red{
	color: #BF0000;
	font-style: oblique;
}

#fotoContacto{
	background: url('../images/fondo.jpg');
	width: 450px;
	height: 450px;
	margin-top: 70px;
}

.is-invalid {
    border-color: #dc3545; 
    background-color: #ffcccc; 
}

.is-valid {
    border-color: #28a745;
    background-color: #d4edda; 
}

